.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1.5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: Source Sans Pro;
}
hr {
    border: 1.5px solid #D4AF37;
    width: 15vw;
}
/* Fonts */
.star-hotel {
    text-align: center;
}
.star-text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.01em;
    color: #241E09;
}
.star-p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #241E09;
}

/* containers */
.row {
    display: flex;
}
.col-left {
    flex: 1;
}
.col-right {
    flex: 1;
}
.col {
    flex: 1;
}
.center {
    text-align: center;
}
.rooms {
    margin-bottom: 16px;
}
