:root {
	--gray-light: rgba(255, 255, 255, .9);
	--gray-medium: rgba(255, 255, 255, .7);
}

.footer {
	background-color: #241e09;
	color: #fff;
   min-height: 240px;
}

.footer-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: start;
	min-height: 240px;
	font-size: 18px;
}

.footer-nav {
	display: grid;
	justify-items: start;
	grid-gap: 70px;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.footer-description {
   max-width: 210px;
   justify-self: start;
}

.footer-description-title {
	margin-bottom: 24px;
	font-size: 24px;
}

.footer-description-detail {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.footer-description-icon {
	padding-right: 10px;
}

.footer-follow-us-lists {
	display: flex;
	text-decoration: none;
   list-style-type: none;
}

.follow-us-list {
   justify-self: start;
	padding-right: 10px;
}


/* SVG ICONS - styles */
.social__icon {
	width: 1.5rem;
	height: 1.5rem; 
}

.social__icon--phone,
.social__icon--envelop,
.social__icon--location {
	margin-right: .5rem; 
}

.social__icon--facebook,
.social__icon--twitter,
.social__icon--instagram,
.social__icon--phone,
.social__icon--envelop,
.social__icon--location {
	fill: var(--gray-light);
	cursor: pointer;
	transition: fill .2s;
}

.social__icon--facebook:hover,
.social__icon--twitter:hover,
.social__icon--instagram:hover,
.social__icon--phone:hover,
.social__icon--envelop:hover,
.social__icon--location:hover {
	fill: var(--gray-medium); 
}


@media (min-width: 768px) {


   .footer-nav {
      justify-items: start;
   }
   
}


@media (min-width: 1200px) {


   .footer-nav {
      justify-items: center;
   }
   
}