*{
	font-family: 'Source Sans Pro';
}
.horizontal{
	width: 10%;
	margin: 1em 0 2em 0;
	height: 1px;
    background-color: #D4AF37;
    border: none;
}

h1{
    font-size: 50px;
}
.jumbotron-container{
	width: 100%;
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../img/Homepage-jumbotron.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover ;
	opacity: .9;
    height: calc(100vh - 30px);
	display: flex;
	color: white;
}

.jumbotron-left{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: flex-start;
	padding-left: 10%;
}
.jumbotron-left p{
	margin-bottom: 2em;
}
.jumbotron-right{
    flex: 2;
}

.jumbotron-form{
    display: flex;
    flex-direction: column;
}

/* Beggining of enjoy your stay section */
.enjoy-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.enjoy-header{
    width: 80%;
    margin: 1em auto;
}
.enjoy-header h1{
	padding-top: 2em;
}
.enjoy-header > p{
	width: 40%;
}
.enjoy-services{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 1em auto;
	margin-bottom: 5em;
    /* border: 1px solid black; */	
}
.enjoy-services h2{
	margin-bottom: 1em;
}
.first-col{
    /* border: 1px solid black; */
    flex: 1;
}
.sec-col{
    /* border: 1px solid black; */
    flex: 1;

}
.third-col{
    /* border: 1px solid black; */
	flex: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.upper, .lower{
    padding-left: 2em;
	margin-bottom: 2em;
    /* border: 1px solid black; */
	
}

/* End----------------------- */

/* Beginning of simplicity is our watch word section styling */
.simplicity-container{
    width: 80%;
    display: flex;
    flex-direction: column;
	margin: 2em auto;
	margin-bottom: 3em;
}
.header-span{
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.book-room{
	display: flex;
	line-height: 1.5em;
}

.book-room > .left,.book-room > .right{
	flex:1;
}
.book-room > .left{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 1em;
}
.top-left{
	display: flex;
	justify-content: space-between;
}
.room-types{
	/* border: 1px solid black; */
	margin: 1em 0;
}
.room-types > li{
	margin: 10px 0;
	list-style: none
}
.button{
    padding: .5em 1em;
	border-radius: 4px;
	outline: none;
	background: #D4AF37;
	color: white;
	border: none;
	cursor: pointer;
}

/* End----------------------------*/

/* Beginning of client review secton styles */
.review-container{
    width: 80%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-header > p{
	text-align: center;
}
.cards-container{
    display: flex;
    margin-top: 2em;
    margin-bottom: 4em;
}
.card{
    flex: 1;
    border: 1px solid rgb(158, 158, 158);
    min-height: 40vh;
    margin-right: 2em;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1em 1em 1em 1em;
	line-height: 1.5em;
}
.card-title{
	font-size: 25px;
}
.card-avi{
	width: 30%;
	margin: 2em 0;
}
.card-subtitle{
	margin-bottom: 1em;
}
.card-desc{
	font-size: 17px;
	font-weight: 300;
}

/* End----------------------------------------- */